.responsive-img {
     max-width: 150px;
     max-height:150px;
     object-fit:cover;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.brand-logo {
    margin-left: 20px;
}

.row {
    margin-top: 30px;
}

.text-shadow{
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}

.flashes h4 {
    line-height:2;
}

.btn-small {
    margin:5px;
}

.collapsible-header .col strong {
    margin: 5p;
    line-height:42px;

}